@use "../base/breakpoints" as *;

.cat-toolbar .cat-button {
	height: 32px;
	white-space: nowrap;
	width: fit-content;
	border-radius: 4px;
	background-color: var(--clr-grey-300);
	color: var(--clr-grey-900);
	display: flex;
	align-items: center;
	gap: 8px;
	padding-inline: 16px;
	border: 1px solid transparent;
	transition: all ease-out 0.15s;
	text-decoration: none;

	&.create {
		background-color: var(--clr-red-500);
		color: var(--clr-white);

		&:hover {
			background-color: var(--clr-red-700);
		}
	}

	.c-icon {
		height: 12px;
		width: auto;
	}

	&:hover {
		cursor: pointer;
		background-color: var(--clr-grey-400);
	}

	&:focus-visible {
		border: 1px solid var(--clr-blue-500);
		outline: none;
	}
}
