{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
<div toolbar-data="toolbarSkeleton" id="cat-toolbar" class="cat-toolbar skeleton">
    <div class="cat-toolbar-toggle">
        <div></div>
    </div>
    
    <div class="cat-toolbar-main">
        {% if settings.startMenuEnabled %}
            <div class="cat-toolbar-chunk cat-toolbar-start">
                <div class="cat-toolbar-start-menu">
                    <div class="cat-toolbar-start-menu-profile-picture"></div>

                    <div class="cat-toolbar-start-menu-user-info">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if settings.actionButtonsEnabled %}
            <div class="cat-toolbar-chunk cat-toolbar-action-buttons">
                <div></div>
                <div></div>
            </div>
        {% endif %}

        {% if settings.globalSearchEnabled %}
            <div class="cat-toolbar-chunk cat-toolbar-search">
                <div></div>
            </div>
        {% endif %}

        {% if settings.seoMenuEnabled %}
            <div class="cat-toolbar-chunk cat-toolbar-seo-checklist">
                <div></div>
            </div>
        {% endif %}

        {% if settings.helpMenuEnabled %}
            <div class="cat-toolbar-chunk cat-toolbar-help">
                <div></div>
            </div>
        {% endif %}
    </div>

    {% if settings.contextBarEnabled %}
        <div class="cat-toolbar-bottom">
            <div class="cat-toolbar-location-info">
                <div></div>
            </div>

            <div class="cat-toolbar-bottom-extra">
                <div></div>
            </div>
        </div>
    {% endif %}
</div>