.cat-typo-body-md {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	font-family: system-ui, sans-serif;
}

.cat-typo-body-sm {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.4;
	font-family: system-ui, sans-serif;
}

.cat-semi-bold {
	font-weight: 600;
}

.cat-uppercase {
	text-transform: uppercase;
}

.cat-italic {
	font-style: italic;
}
