{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
<section class="cat-toolbar-seo-menu-previews" toolbar-show="seoMenuActiveTab === 'previews'">
    <div id="cat-seo-previews" class="cat-toolbar-seo-menu-previews-results"></div>
</section>